{
  "openapi": "3.0.3",
  "info": {
    "title": "LiveChat WhatsApp API",
    "description": "API completa para gerenciamento de conversas WhatsApp, incluindo mensagens, tickets, agentes de IA, análise de sentimento e muito mais.\n\n## Autenticação\n\nA API suporta quatro tipos de autenticação:\n\n1. **Global API Key**: Chave de API global para integrações externas (header `x-api-key`)\n2. **JWT Bearer Token**: Para endpoints autenticados de usuários\n3. **Service Role Key**: Para operações administrativas e edge functions\n4. **Widget Token**: Para o widget de chat público\n\n## Domínio Permitido\n\n**Apenas requisições do domínio `ubva.com.br` são aceitas** (além de localhost para desenvolvimento).\n\n## Base URL\n\n- **Local**: `http://localhost:54321/functions/v1`\n- **Produção**: Configurar conforme ambiente\n\n## Rate Limiting\n\nAlguns endpoints possuem rate limiting. Verifique os headers de resposta para informações.",
    "version": "2.0.0",
    "contact": {
      "name": "Suporte UBVA",
      "email": "suporte@ubva.com.br"
    },
    "license": {
      "name": "Proprietário"
    }
  },
  "servers": [
    {
      "url": "https://api.ubva.com.br/functions/v1",
      "description": "Produção (ubva.com.br)"
    },
    {
      "url": "http://192.168.3.100:54321/functions/v1",
      "description": "Servidor Local"
    },
    {
      "url": "http://localhost:54321/functions/v1",
      "description": "Localhost"
    }
  ],
  "tags": [
    {
      "name": "WhatsApp",
      "description": "Operações de mensagens WhatsApp"
    },
    {
      "name": "AI",
      "description": "Funcionalidades de Inteligência Artificial"
    },
    {
      "name": "Webhook",
      "description": "Webhooks da Evolution API"
    },
    {
      "name": "Widget",
      "description": "API do Widget de Chat"
    },
    {
      "name": "Admin",
      "description": "Operações administrativas"
    },
    {
      "name": "Media",
      "description": "Gerenciamento de mídia"
    },
    {
      "name": "Instances",
      "description": "Gerenciamento de instâncias WhatsApp"
    },
    {
      "name": "Campaigns",
      "description": "Campanhas de mensagens em massa"
    },
    {
      "name": "Leads",
      "description": "Qualificação e gestão de leads"
    },
    {
      "name": "Knowledge",
      "description": "Base de conhecimento para IA"
    },
    {
      "name": "SLA",
      "description": "Monitoramento de SLA e escalonamento"
    },
    {
      "name": "Scheduling",
      "description": "Agendamentos e reuniões"
    }
  ],
  "paths": {
    "/send-whatsapp-message": {
      "post": {
        "tags": ["WhatsApp"],
        "summary": "Enviar mensagem WhatsApp",
        "description": "Envia uma mensagem WhatsApp (texto, imagem, áudio, vídeo ou documento) através da Evolution API e armazena no banco de dados.",
        "operationId": "sendWhatsAppMessage",
        "security": [{"GlobalApiKey": []}, {"ServiceRoleKey": []}],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SendMessageRequest"
              },
              "examples": {
                "text": {
                  "summary": "Mensagem de texto",
                  "value": {
                    "conversationId": "550e8400-e29b-41d4-a716-446655440000",
                    "content": "Olá! Como posso ajudar você hoje?",
                    "messageType": "text"
                  }
                },
                "image": {
                  "summary": "Mensagem com imagem",
                  "value": {
                    "conversationId": "550e8400-e29b-41d4-a716-446655440000",
                    "content": "Confira nossa promoção!",
                    "messageType": "image",
                    "mediaUrl": "https://example.com/promo.jpg",
                    "mediaMimetype": "image/jpeg"
                  }
                },
                "document": {
                  "summary": "Envio de documento",
                  "value": {
                    "conversationId": "550e8400-e29b-41d4-a716-446655440000",
                    "content": "Segue o contrato em anexo",
                    "messageType": "document",
                    "mediaBase64": "JVBERi0xLjQKJeLjz9MKMyAwIG9...",
                    "mediaMimetype": "application/pdf",
                    "fileName": "contrato.pdf"
                  }
                },
                "reply": {
                  "summary": "Resposta a mensagem",
                  "value": {
                    "conversationId": "550e8400-e29b-41d4-a716-446655440000",
                    "content": "Sim, está correto!",
                    "messageType": "text",
                    "quotedMessageId": "3A123ABC456DEF789"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Mensagem enviada com sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SendMessageResponse"
                }
              }
            }
          },
          "400": {
            "description": "Parâmetros inválidos",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Não autorizado - API Key inválida",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Domínio não permitido",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/edit-whatsapp-message": {
      "post": {
        "tags": ["WhatsApp"],
        "summary": "Editar mensagem WhatsApp",
        "description": "Edita uma mensagem WhatsApp previamente enviada. A edição só é permitida dentro de 15 minutos após o envio.",
        "operationId": "editWhatsAppMessage",
        "security": [{"GlobalApiKey": []}, {"ServiceRoleKey": []}],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EditMessageRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Mensagem editada com sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EditMessageResponse"
                }
              }
            }
          },
          "400": {
            "description": "Tempo de edição expirado ou parâmetros inválidos"
          }
        }
      }
    },
    "/mark-messages-read": {
      "post": {
        "tags": ["WhatsApp"],
        "summary": "Marcar mensagens como lidas",
        "description": "Marca mensagens como lidas tanto localmente quanto via Evolution API.",
        "operationId": "markMessagesRead",
        "security": [{"GlobalApiKey": []}, {"ServiceRoleKey": []}],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MarkReadRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Mensagens marcadas como lidas",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MarkReadResponse"
                }
              }
            }
          }
        }
      }
    },
    "/evolution-webhook": {
      "post": {
        "tags": ["Webhook"],
        "summary": "Webhook da Evolution API",
        "description": "Endpoint que recebe eventos da Evolution API. **Chamado automaticamente pela Evolution API.**",
        "operationId": "evolutionWebhook",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WebhookPayload"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Webhook processado"
          }
        }
      }
    },
    "/dispatch-webhook": {
      "post": {
        "tags": ["Webhook"],
        "summary": "Disparar webhook customizado",
        "description": "Dispara webhooks para URLs cadastradas com eventos do sistema.",
        "operationId": "dispatchWebhook",
        "security": [{"GlobalApiKey": []}, {"ServiceRoleKey": []}],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["event", "data"],
                "properties": {
                  "event": {
                    "type": "string",
                    "enum": ["message.received", "message.sent", "conversation.created", "conversation.closed", "ticket.created", "ticket.updated"]
                  },
                  "data": {
                    "type": "object"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Webhook disparado"
          }
        }
      }
    },
    "/ai-agent-respond": {
      "post": {
        "tags": ["AI"],
        "summary": "Resposta automática do agente de IA",
        "description": "Gera respostas automáticas usando IA (GROQ LLM) para conversas WhatsApp.",
        "operationId": "aiAgentRespond",
        "security": [{"GlobalApiKey": []}, {"ServiceRoleKey": []}],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AIAgentRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Resposta gerada",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AIAgentResponse"
                }
              }
            }
          }
        }
      }
    },
    "/analyze-whatsapp-sentiment": {
      "post": {
        "tags": ["AI"],
        "summary": "Analisar sentimento da conversa",
        "description": "Analisa o sentimento das mensagens usando IA.",
        "operationId": "analyzeSentiment",
        "security": [{"GlobalApiKey": []}, {"BearerAuth": []}],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SentimentRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Análise concluída",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SentimentResponse"
                }
              }
            }
          }
        }
      }
    },
    "/categorize-whatsapp-conversation": {
      "post": {
        "tags": ["AI"],
        "summary": "Categorizar conversa",
        "description": "Categoriza uma conversa em tópicos predefinidos usando IA.",
        "operationId": "categorizeConversation",
        "security": [{"GlobalApiKey": []}, {"BearerAuth": []}],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CategorizeRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Categorização concluída",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CategorizeResponse"
                }
              }
            }
          }
        }
      }
    },
    "/compose-whatsapp-message": {
      "post": {
        "tags": ["AI"],
        "summary": "Compor mensagem com IA",
        "description": "Composição de mensagens com ações: expandir, reformular, traduzir, corrigir gramática, ajustar tom.",
        "operationId": "composeMessage",
        "security": [{"GlobalApiKey": []}, {"BearerAuth": []}],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ComposeRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Mensagem composta",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ComposeResponse"
                }
              }
            }
          }
        }
      }
    },
    "/suggest-smart-replies": {
      "post": {
        "tags": ["AI"],
        "summary": "Sugerir respostas inteligentes",
        "description": "Gera sugestões de respostas baseadas no contexto.",
        "operationId": "suggestSmartReplies",
        "security": [{"GlobalApiKey": []}, {"ServiceRoleKey": []}],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SmartRepliesRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Sugestões geradas",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SmartRepliesResponse"
                }
              }
            }
          }
        }
      }
    },
    "/generate-conversation-summary": {
      "post": {
        "tags": ["AI"],
        "summary": "Gerar resumo da conversa",
        "description": "Gera um resumo completo da conversa usando IA.",
        "operationId": "generateSummary",
        "security": [{"GlobalApiKey": []}, {"ServiceRoleKey": []}],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SummaryRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Resumo gerado",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SummaryResponse"
                }
              }
            }
          }
        }
      }
    },
    "/transcribe-audio": {
      "post": {
        "tags": ["AI", "Media"],
        "summary": "Transcrever áudio",
        "description": "Transcreve mensagens de áudio usando Whisper.",
        "operationId": "transcribeAudio",
        "security": [{"GlobalApiKey": []}, {"ServiceRoleKey": []}],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TranscribeRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Áudio transcrito",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TranscribeResponse"
                }
              }
            }
          }
        }
      }
    },
    "/learn-from-conversation": {
      "post": {
        "tags": ["AI", "Knowledge"],
        "summary": "Aprender com conversa",
        "description": "Extrai conhecimento de uma conversa para treinar a IA.",
        "operationId": "learnFromConversation",
        "security": [{"GlobalApiKey": []}, {"ServiceRoleKey": []}],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["conversationId"],
                "properties": {
                  "conversationId": {
                    "type": "string",
                    "format": "uuid"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Conhecimento extraído"
          }
        }
      }
    },
    "/manage-knowledge-base": {
      "post": {
        "tags": ["Knowledge"],
        "summary": "Gerenciar base de conhecimento",
        "description": "CRUD para itens da base de conhecimento da IA.",
        "operationId": "manageKnowledgeBase",
        "security": [{"GlobalApiKey": []}, {"BearerAuth": []}],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["action"],
                "properties": {
                  "action": {
                    "type": "string",
                    "enum": ["list", "create", "update", "delete"]
                  },
                  "id": {
                    "type": "string",
                    "format": "uuid"
                  },
                  "data": {
                    "type": "object",
                    "properties": {
                      "question": {"type": "string"},
                      "answer": {"type": "string"},
                      "category": {"type": "string"},
                      "keywords": {
                        "type": "array",
                        "items": {"type": "string"}
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Operação realizada"
          }
        }
      }
    },
    "/optimize-knowledge": {
      "post": {
        "tags": ["Knowledge"],
        "summary": "Otimizar base de conhecimento",
        "description": "Otimiza e reorganiza a base de conhecimento usando IA.",
        "operationId": "optimizeKnowledge",
        "security": [{"GlobalApiKey": []}, {"ServiceRoleKey": []}],
        "responses": {
          "200": {
            "description": "Base otimizada"
          }
        }
      }
    },
    "/list-groq-models": {
      "get": {
        "tags": ["AI"],
        "summary": "Listar modelos GROQ disponíveis",
        "description": "Lista todos os modelos de IA disponíveis no GROQ.",
        "operationId": "listGroqModels",
        "security": [{"GlobalApiKey": []}, {"ServiceRoleKey": []}],
        "responses": {
          "200": {
            "description": "Lista de modelos",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "models": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {"type": "string"},
                          "name": {"type": "string"},
                          "context_window": {"type": "integer"}
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/get-media-signed-url": {
      "post": {
        "tags": ["Media"],
        "summary": "Obter URL assinada para mídia",
        "description": "Gera URLs assinadas para acesso a arquivos de mídia.",
        "operationId": "getMediaSignedUrl",
        "security": [{"GlobalApiKey": []}, {"BearerAuth": []}],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SignedUrlRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "URL assinada gerada",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SignedUrlResponse"
                }
              }
            }
          }
        }
      }
    },
    "/check-instances-status": {
      "post": {
        "tags": ["Instances"],
        "summary": "Verificar status das instâncias",
        "description": "Verifica o status de conexão de todas as instâncias WhatsApp.",
        "operationId": "checkInstancesStatus",
        "security": [{"GlobalApiKey": []}, {"ServiceRoleKey": []}],
        "responses": {
          "200": {
            "description": "Status verificado"
          }
        }
      }
    },
    "/test-instance-connection": {
      "post": {
        "tags": ["Instances"],
        "summary": "Testar conexão de instância",
        "description": "Testa a conexão de uma instância específica.",
        "operationId": "testInstanceConnection",
        "security": [{"GlobalApiKey": []}, {"ServiceRoleKey": []}],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["instanceId"],
                "properties": {
                  "instanceId": {
                    "type": "string",
                    "format": "uuid"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Resultado do teste"
          }
        }
      }
    },
    "/test-evolution-connection": {
      "post": {
        "tags": ["Instances"],
        "summary": "Testar conexão com Evolution API",
        "description": "Testa a conexão com o servidor Evolution API.",
        "operationId": "testEvolutionConnection",
        "security": [{"GlobalApiKey": []}, {"ServiceRoleKey": []}],
        "responses": {
          "200": {
            "description": "Conexão testada"
          }
        }
      }
    },
    "/configure-evolution-instance": {
      "post": {
        "tags": ["Instances"],
        "summary": "Configurar instância Evolution",
        "description": "Configura uma nova instância na Evolution API.",
        "operationId": "configureEvolutionInstance",
        "security": [{"GlobalApiKey": []}, {"ServiceRoleKey": []}],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["instanceId"],
                "properties": {
                  "instanceId": {
                    "type": "string",
                    "format": "uuid"
                  },
                  "webhookUrl": {
                    "type": "string",
                    "format": "uri"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Instância configurada"
          }
        }
      }
    },
    "/get-instance-details": {
      "post": {
        "tags": ["Instances"],
        "summary": "Obter detalhes da instância",
        "description": "Retorna informações detalhadas de uma instância.",
        "operationId": "getInstanceDetails",
        "security": [{"GlobalApiKey": []}, {"ServiceRoleKey": []}],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["instanceId"],
                "properties": {
                  "instanceId": {
                    "type": "string",
                    "format": "uuid"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Detalhes da instância"
          }
        }
      }
    },
    "/qualify-lead": {
      "post": {
        "tags": ["Leads"],
        "summary": "Qualificar lead",
        "description": "Qualifica um lead usando IA baseado na conversa.",
        "operationId": "qualifyLead",
        "security": [{"GlobalApiKey": []}, {"ServiceRoleKey": []}],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["conversationId"],
                "properties": {
                  "conversationId": {
                    "type": "string",
                    "format": "uuid"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Lead qualificado",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "score": {"type": "integer", "minimum": 0, "maximum": 100},
                    "temperature": {"type": "string", "enum": ["cold", "warm", "hot"]},
                    "insights": {"type": "string"}
                  }
                }
              }
            }
          }
        }
      }
    },
    "/send-campaign-messages": {
      "post": {
        "tags": ["Campaigns"],
        "summary": "Enviar mensagens de campanha",
        "description": "Envia mensagens em massa para uma campanha.",
        "operationId": "sendCampaignMessages",
        "security": [{"GlobalApiKey": []}, {"ServiceRoleKey": []}],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["campaignId"],
                "properties": {
                  "campaignId": {
                    "type": "string",
                    "format": "uuid"
                  },
                  "batchSize": {
                    "type": "integer",
                    "default": 50
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Mensagens enviadas"
          }
        }
      }
    },
    "/process-scheduled-campaigns": {
      "post": {
        "tags": ["Campaigns"],
        "summary": "Processar campanhas agendadas",
        "description": "Processa campanhas que estão agendadas para envio.",
        "operationId": "processScheduledCampaigns",
        "security": [{"GlobalApiKey": []}, {"ServiceRoleKey": []}],
        "responses": {
          "200": {
            "description": "Campanhas processadas"
          }
        }
      }
    },
    "/check-sla-violations": {
      "post": {
        "tags": ["SLA"],
        "summary": "Verificar violações de SLA",
        "description": "Verifica conversas que violaram SLA e dispara alertas.",
        "operationId": "checkSlaViolations",
        "security": [{"GlobalApiKey": []}, {"ServiceRoleKey": []}],
        "responses": {
          "200": {
            "description": "Verificação concluída"
          }
        }
      }
    },
    "/distribute-escalation": {
      "post": {
        "tags": ["SLA"],
        "summary": "Distribuir escalonamento",
        "description": "Distribui uma conversa escalonada para um atendente.",
        "operationId": "distributeEscalation",
        "security": [{"GlobalApiKey": []}, {"ServiceRoleKey": []}],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["conversationId"],
                "properties": {
                  "conversationId": {
                    "type": "string",
                    "format": "uuid"
                  },
                  "priority": {
                    "type": "string",
                    "enum": ["low", "normal", "high", "urgent"]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Escalonamento distribuído"
          }
        }
      }
    },
    "/prepare-escalation": {
      "post": {
        "tags": ["SLA"],
        "summary": "Preparar escalonamento",
        "description": "Prepara uma conversa para escalonamento com resumo de contexto.",
        "operationId": "prepareEscalation",
        "security": [{"GlobalApiKey": []}, {"ServiceRoleKey": []}],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["conversationId"],
                "properties": {
                  "conversationId": {
                    "type": "string",
                    "format": "uuid"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Escalonamento preparado"
          }
        }
      }
    },
    "/schedule-meeting": {
      "post": {
        "tags": ["Scheduling"],
        "summary": "Agendar reunião",
        "description": "Agenda uma reunião com um contato.",
        "operationId": "scheduleMeeting",
        "security": [{"GlobalApiKey": []}, {"BearerAuth": []}],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["contactId", "scheduledAt", "title"],
                "properties": {
                  "contactId": {
                    "type": "string",
                    "format": "uuid"
                  },
                  "scheduledAt": {
                    "type": "string",
                    "format": "date-time"
                  },
                  "title": {
                    "type": "string"
                  },
                  "description": {
                    "type": "string"
                  },
                  "duration": {
                    "type": "integer",
                    "description": "Duração em minutos"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Reunião agendada"
          }
        }
      }
    },
    "/process-meeting-reminders": {
      "post": {
        "tags": ["Scheduling"],
        "summary": "Processar lembretes de reunião",
        "description": "Envia lembretes de reuniões próximas.",
        "operationId": "processMeetingReminders",
        "security": [{"GlobalApiKey": []}, {"ServiceRoleKey": []}],
        "responses": {
          "200": {
            "description": "Lembretes processados"
          }
        }
      }
    },
    "/import-google-contacts": {
      "post": {
        "tags": ["Admin"],
        "summary": "Importar contatos do Google",
        "description": "Importa contatos do Google para a plataforma.",
        "operationId": "importGoogleContacts",
        "security": [{"GlobalApiKey": []}, {"BearerAuth": []}],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["accessToken"],
                "properties": {
                  "accessToken": {
                    "type": "string",
                    "description": "OAuth access token do Google"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Contatos importados"
          }
        }
      }
    },
    "/sync-contact-profiles": {
      "post": {
        "tags": ["Admin"],
        "summary": "Sincronizar perfis de contatos",
        "description": "Sincroniza informações de perfil dos contatos via WhatsApp.",
        "operationId": "syncContactProfiles",
        "security": [{"GlobalApiKey": []}, {"ServiceRoleKey": []}],
        "responses": {
          "200": {
            "description": "Perfis sincronizados"
          }
        }
      }
    },
    "/fix-contact-names": {
      "post": {
        "tags": ["Admin"],
        "summary": "Corrigir nomes de contatos",
        "description": "Atualiza nomes de contatos a partir dos dados do WhatsApp.",
        "operationId": "fixContactNames",
        "security": [{"GlobalApiKey": []}, {"ServiceRoleKey": []}],
        "responses": {
          "200": {
            "description": "Nomes corrigidos"
          }
        }
      }
    },
    "/admin-reset-password": {
      "post": {
        "tags": ["Admin"],
        "summary": "Resetar senha de usuário",
        "description": "Permite que administradores resetem senhas de outros usuários.",
        "operationId": "adminResetPassword",
        "security": [{"GlobalApiKey": []}, {"BearerAuth": []}],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ResetPasswordRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Senha resetada"
          }
        }
      }
    },
    "/invite-team-member": {
      "post": {
        "tags": ["Admin"],
        "summary": "Convidar membro da equipe",
        "description": "Convida novos membros criando contas e atribuindo papéis.",
        "operationId": "inviteTeamMember",
        "security": [{"GlobalApiKey": []}, {"BearerAuth": []}],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/InviteRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Convite enviado"
          }
        }
      }
    },
    "/ensure-user-profile": {
      "post": {
        "tags": ["Admin"],
        "summary": "Garantir perfil de usuário",
        "description": "Cria perfil para usuário se não existir.",
        "operationId": "ensureUserProfile",
        "security": [{"GlobalApiKey": []}, {"ServiceRoleKey": []}],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["userId"],
                "properties": {
                  "userId": {
                    "type": "string",
                    "format": "uuid"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Perfil garantido"
          }
        }
      }
    },
    "/setup-project-config": {
      "post": {
        "tags": ["Admin"],
        "summary": "Configurar projeto",
        "description": "Configuração inicial do projeto.",
        "operationId": "setupProjectConfig",
        "security": [{"GlobalApiKey": []}, {"ServiceRoleKey": []}],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "projectName": {"type": "string"},
                  "settings": {"type": "object"}
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Projeto configurado"
          }
        }
      }
    },
    "/widget-api/config": {
      "get": {
        "tags": ["Widget"],
        "summary": "Obter configuração do widget",
        "description": "Retorna a configuração do widget de chat.",
        "operationId": "getWidgetConfig",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Configuração do widget",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WidgetConfig"
                }
              }
            }
          }
        }
      }
    },
    "/widget-api/conversation": {
      "post": {
        "tags": ["Widget"],
        "summary": "Criar conversa do widget",
        "description": "Cria uma nova conversa iniciada pelo widget.",
        "operationId": "createWidgetConversation",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WidgetConversationRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Conversa criada",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WidgetConversationResponse"
                }
              }
            }
          }
        }
      }
    },
    "/widget-api/message": {
      "post": {
        "tags": ["Widget"],
        "summary": "Enviar mensagem do widget",
        "description": "Envia uma mensagem do visitante pelo widget.",
        "operationId": "sendWidgetMessage",
        "security": [{"WidgetToken": []}],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WidgetMessageRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Mensagem enviada"
          }
        }
      }
    },
    "/widget-api/messages": {
      "get": {
        "tags": ["Widget"],
        "summary": "Obter mensagens do widget",
        "description": "Obtém as mensagens de uma conversa do widget.",
        "operationId": "getWidgetMessages",
        "security": [{"WidgetToken": []}],
        "responses": {
          "200": {
            "description": "Lista de mensagens",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WidgetMessagesResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "GlobalApiKey": {
        "type": "apiKey",
        "in": "header",
        "name": "x-api-key",
        "description": "Chave de API global para integrações externas. Configure em GLOBAL_API_KEY no ambiente."
      },
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "description": "Token JWT do usuário autenticado"
      },
      "ServiceRoleKey": {
        "type": "apiKey",
        "in": "header",
        "name": "Authorization",
        "description": "Service Role Key do Supabase (Bearer {service_role_key})"
      },
      "WidgetToken": {
        "type": "apiKey",
        "in": "header",
        "name": "x-widget-token",
        "description": "Token do visitante do widget"
      }
    },
    "schemas": {
      "SendMessageRequest": {
        "type": "object",
        "required": ["conversationId", "messageType"],
        "properties": {
          "conversationId": {
            "type": "string",
            "format": "uuid"
          },
          "content": {
            "type": "string"
          },
          "messageType": {
            "type": "string",
            "enum": ["text", "image", "audio", "video", "document"]
          },
          "mediaUrl": {
            "type": "string",
            "format": "uri"
          },
          "mediaBase64": {
            "type": "string"
          },
          "mediaMimetype": {
            "type": "string"
          },
          "fileName": {
            "type": "string"
          },
          "quotedMessageId": {
            "type": "string"
          },
          "isSupervisorMessage": {
            "type": "boolean"
          },
          "supervisorId": {
            "type": "string",
            "format": "uuid"
          }
        }
      },
      "SendMessageResponse": {
        "type": "object",
        "properties": {
          "success": {"type": "boolean"},
          "message": {
            "type": "object",
            "properties": {
              "id": {"type": "string", "format": "uuid"},
              "conversation_id": {"type": "string", "format": "uuid"},
              "message_id": {"type": "string"},
              "content": {"type": "string"},
              "message_type": {"type": "string"},
              "is_from_me": {"type": "boolean"},
              "status": {"type": "string"},
              "timestamp": {"type": "string", "format": "date-time"}
            }
          }
        }
      },
      "EditMessageRequest": {
        "type": "object",
        "required": ["messageId", "conversationId", "newContent"],
        "properties": {
          "messageId": {"type": "string"},
          "conversationId": {"type": "string", "format": "uuid"},
          "newContent": {"type": "string"}
        }
      },
      "EditMessageResponse": {
        "type": "object",
        "properties": {
          "success": {"type": "boolean"},
          "message": {"type": "object"}
        }
      },
      "MarkReadRequest": {
        "type": "object",
        "required": ["conversationId"],
        "properties": {
          "conversationId": {"type": "string", "format": "uuid"},
          "messageIds": {"type": "array", "items": {"type": "string"}}
        }
      },
      "MarkReadResponse": {
        "type": "object",
        "properties": {
          "success": {"type": "boolean"},
          "markedCount": {"type": "integer"},
          "messageIds": {"type": "array", "items": {"type": "string"}}
        }
      },
      "WebhookPayload": {
        "type": "object",
        "required": ["event", "instance", "data"],
        "properties": {
          "event": {"type": "string"},
          "instance": {"type": "string"},
          "data": {"type": "object"}
        }
      },
      "AIAgentRequest": {
        "type": "object",
        "required": ["conversationId", "messageId"],
        "properties": {
          "conversationId": {"type": "string", "format": "uuid"},
          "messageId": {"type": "string", "format": "uuid"}
        }
      },
      "AIAgentResponse": {
        "type": "object",
        "properties": {
          "success": {"type": "boolean"},
          "response": {"type": "string"},
          "tokens": {"type": "integer"},
          "responseTime": {"type": "integer"},
          "skipped": {"type": "boolean"},
          "reason": {"type": "string"},
          "escalated": {"type": "boolean"}
        }
      },
      "SentimentRequest": {
        "type": "object",
        "required": ["conversationId"],
        "properties": {
          "conversationId": {"type": "string", "format": "uuid"}
        }
      },
      "SentimentResponse": {
        "type": "object",
        "properties": {
          "success": {"type": "boolean"},
          "analysis": {
            "type": "object",
            "properties": {
              "sentiment": {"type": "string", "enum": ["positive", "neutral", "negative"]},
              "confidence_score": {"type": "number"},
              "summary": {"type": "string"}
            }
          }
        }
      },
      "CategorizeRequest": {
        "type": "object",
        "required": ["conversationId"],
        "properties": {
          "conversationId": {"type": "string", "format": "uuid"}
        }
      },
      "CategorizeResponse": {
        "type": "object",
        "properties": {
          "success": {"type": "boolean"},
          "metadata": {
            "type": "object",
            "properties": {
              "topics": {"type": "array", "items": {"type": "string"}},
              "primary_topic": {"type": "string"},
              "ai_confidence": {"type": "number"}
            }
          }
        }
      },
      "ComposeRequest": {
        "type": "object",
        "required": ["message", "action"],
        "properties": {
          "message": {"type": "string"},
          "action": {"type": "string", "enum": ["expand", "rephrase", "my_tone", "friendly", "formal", "fix_grammar", "translate"]},
          "targetLanguage": {"type": "string", "enum": ["en", "es", "fr", "de", "it", "pt"]}
        }
      },
      "ComposeResponse": {
        "type": "object",
        "properties": {
          "original": {"type": "string"},
          "composed": {"type": "string"},
          "action": {"type": "string"}
        }
      },
      "SmartRepliesRequest": {
        "type": "object",
        "required": ["conversationId"],
        "properties": {
          "conversationId": {"type": "string", "format": "uuid"}
        }
      },
      "SmartRepliesResponse": {
        "type": "object",
        "properties": {
          "suggestions": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "text": {"type": "string"},
                "tone": {"type": "string"}
              }
            }
          }
        }
      },
      "SummaryRequest": {
        "type": "object",
        "required": ["conversationId"],
        "properties": {
          "conversationId": {"type": "string", "format": "uuid"}
        }
      },
      "SummaryResponse": {
        "type": "object",
        "properties": {
          "success": {"type": "boolean"},
          "summary": {
            "type": "object",
            "properties": {
              "summary": {"type": "string"},
              "key_points": {"type": "array", "items": {"type": "string"}},
              "action_items": {"type": "array", "items": {"type": "string"}}
            }
          }
        }
      },
      "TranscribeRequest": {
        "type": "object",
        "required": ["messageId"],
        "properties": {
          "messageId": {"type": "string", "format": "uuid"}
        }
      },
      "TranscribeResponse": {
        "type": "object",
        "properties": {
          "success": {"type": "boolean"},
          "transcription": {"type": "string"}
        }
      },
      "SignedUrlRequest": {
        "type": "object",
        "required": ["filePath"],
        "properties": {
          "filePath": {"type": "string"},
          "conversationId": {"type": "string", "format": "uuid"}
        }
      },
      "SignedUrlResponse": {
        "type": "object",
        "properties": {
          "signedUrl": {"type": "string", "format": "uri"}
        }
      },
      "WidgetConfig": {
        "type": "object",
        "properties": {
          "id": {"type": "string", "format": "uuid"},
          "name": {"type": "string"},
          "enabled": {"type": "boolean"},
          "primary_color": {"type": "string"},
          "position": {"type": "string"},
          "welcome_title": {"type": "string"},
          "welcome_message": {"type": "string"},
          "is_online": {"type": "boolean"}
        }
      },
      "WidgetConversationRequest": {
        "type": "object",
        "required": ["widget_id"],
        "properties": {
          "widget_id": {"type": "string", "format": "uuid"},
          "visitor_name": {"type": "string"},
          "visitor_email": {"type": "string", "format": "email"},
          "visitor_phone": {"type": "string"}
        }
      },
      "WidgetConversationResponse": {
        "type": "object",
        "properties": {
          "conversation_id": {"type": "string", "format": "uuid"},
          "token": {"type": "string"}
        }
      },
      "WidgetMessageRequest": {
        "type": "object",
        "required": ["content"],
        "properties": {
          "content": {"type": "string"}
        }
      },
      "WidgetMessagesResponse": {
        "type": "object",
        "properties": {
          "messages": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {"type": "string", "format": "uuid"},
                "content": {"type": "string"},
                "is_from_visitor": {"type": "boolean"},
                "created_at": {"type": "string", "format": "date-time"}
              }
            }
          }
        }
      },
      "ResetPasswordRequest": {
        "type": "object",
        "required": ["userId", "newPassword"],
        "properties": {
          "userId": {"type": "string", "format": "uuid"},
          "newPassword": {"type": "string", "minLength": 6}
        }
      },
      "InviteRequest": {
        "type": "object",
        "required": ["email", "fullName", "role"],
        "properties": {
          "email": {"type": "string", "format": "email"},
          "fullName": {"type": "string"},
          "role": {"type": "string", "enum": ["admin", "supervisor", "agent"]}
        }
      },
      "SuccessResponse": {
        "type": "object",
        "properties": {
          "success": {"type": "boolean"},
          "message": {"type": "string"}
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {"type": "string"},
          "message": {"type": "string"},
          "statusCode": {"type": "integer"}
        }
      }
    }
  }
}
